@tailwind base;
@tailwind components;
@tailwind utilities;
.anime-show{
    opacity: 0 ;
    scale: 0.6;
    animation: show forwards 0.5s ;
}

@keyframes show {
    to{
        opacity: 1;
        scale: 1;
    }
}